<h1>MyPage <%= @user.nickname %>さん</h1>
 <div class="card content-card border-dark mb-3 " style="width: 18rem;"  >
 <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body text-dark ">

   <p class="card-text mt-3">
    <p>ニックネーム:<%= @user.nickname%></p>
   </p>
   <p>
     <p>性別:<%= @user.gender_i18n %></p>
   </p>
   <p>
     <p>年齢:<%= @user.age_i18n %></p>
   </p>

 </div>
</div>

<h1><%= @user.nickname %>さんの投稿一覧</h1>
<div class="row">
<%= render partial: 'post', collection: @posts %>
</div>

<h1>MyPage <%= @user.nickname %>さんのキープ一覧</h1>
<div class="row">
<%= render partial: 'keep', collection: @keep_posts %>
</div>